@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
a { 
    transition: 0.3s all ease-in-out ;
    color: white;}
:root {
    --coloran: #007BFF;
}
.container {
    padding: 0 6rem;
}
.wrapper {
    
}


/* handburger logo */
.hand {
    position: relative;
    width: 40px;
    height: 26.31px;
    top: 13.15px;
    left: 4.38px;
    display: none;
}
.hand span.menu {
    content: "";
    display: block;
    background-color: white;
    position: absolute;
    width: 35px;
    height: 3.5px;
    transition:all .5s ease-in-out;
    
}
.hand span:nth-child(1) {
    transform: translateY(-10px);
}
.hand span:nth-child(3) {
    transform: translateY(10px);
}


.hand:hover span:nth-child(1) {
    transform: rotateZ(45deg);
}
.hand:hover span:nth-child(3) {
    transform: rotate(-45deg);
}
.hand:hover span:nth-child(2) {
    transform: rotate(720deg);
    opacity: 0;
}


header {
    display: flex;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px #B6B6B640;
    justify-content: space-between;
    align-items: center;
    height: 97px;
}
header nav.navigation ul{
    list-style-type: none;
    display:flex;
    gap: 10px;
}
header nav.navigation ul a{
    display: block;
    color: var(--coloran);
    text-decoration: none;
    padding: 10px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 7px;
    text-align: center;

}

/* hero section */
.hero {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    align-items: center;
    margin-top: 4.5rem;
}
.left_infor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: -4rem;
    min-width: 600px;
}
.left_infor h1{
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 60.26px;
    text-align: left;
    color: rgb(0, 0, 0);
    /* white-space: nowrap; */
}
.left_infor h1 span{
    color: var(--coloran);
}
.left_infor h3{
    font-family: Lato;
    font-size: 22px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: left;
    color: #007BFF;
}

.btn {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
}
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 60px;
    background: #0056B3;
    padding: 10px 20px;
    gap: 11px;
    color: white;
}
.cta:hover {
    background: transparent;
    border: 2px solid #0056B3;
    color:  #0056B3;
    transition: 0.3s all ease-in-out ;

}
a.cta {
    text-decoration: none;
    color: black;
    font-family: Raleway;
    font-size: 18.6px;
    font-weight: 700;
    line-height: 21.84px;
    text-align: center;

}


.secbtn {
    width: 180px;
    height: 60px;
    border: 2px solid #0056B3;
    background-color: transparent;
}
.secbtn:hover {
    background: #0056B3;
    color: white;
    border: 2px solid #ffffff;
    transition: 0.3s all ease-in-out ;

}


.guest {
    display: flex;
    margin-top: 2rem;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #007BFF;
    width: 400px;
    height: 25px;
    align-items: center;

}
.guest a{
    text-decoration: none;

}
.guest span{
    margin-left: 1rem;
    width: 2.4rem;

}
.right {
    /* margin-top: 1rem; */
}
@media(max-width:1200px ) {
    /* hero section */
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-top: 4.5rem;
    }
    .left_infor{

        margin-top: -4rem;
        min-width: 530px;
    }
    .left_infor h1{
        font-size: 36px;
        line-height: 42.26px;
        /* white-space: nowrap; */
    }
    .left_infor h3{
        font-size: 18px;
        font-weight: 700;
        line-height: 15.2px;
    }

    
}


/* form */
/* <span style="font-family: verdana, geneva, sans-serif;"></span> */
body {
  
  font-family: "Roboto", sans-serif;
}

.signup-box {
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

.login-box {
  width: 360px;
  height: 280px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: #49c1a2;
}
